asgiref==3.8.1
contourpy==1.2.1
crispy==0.7.4
crispy-bootstrap5==2024.2
cycler==0.12.1
Django==5.0.6
django-crispy-forms==2.2
fabio==2024.4.0
fonttools==4.53.1
h5py==3.11.0
hdf5plugin==4.4.0
kiwisolver==1.4.5
lxml==5.2.2
matplotlib==3.9.1
numpy==2.0.0
packaging==24.1
pillow==10.4.0
psycopg2-binary==2.9.9
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
silx==2.1.0
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.12.2
